GOOGLE_OAUTH_CLIENT_ID=your_google_client_id
GOOGLE_OAUTH_CLIENT_SECRET=your_google_client_secret
OPENEXCHANGERATES_APP_ID=
RESEND_API_KEY=
DISABLE_EMAIL_VERIFICATION=false
ANTHROPIC_API_KEY=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=
