name = "dom-cash-test"
main = "./.output/server/index.mjs"
compatibility_date = "2025-10-10"
compatibility_flags = ["nodejs_compat"]

[vars]
NUXT_PUBLIC_ENVIRONMENT = "test"

# test
[[d1_databases]]
binding = "DB"
database_name = "dom-test"
database_id = "49fe35ce-d40a-4d38-8f8d-32bd57bb5588"


# production
[env.production]
name = "dom-cash"
routes = [
  { pattern = "dom.cash", custom_domain = true }
]

[env.production.vars]
NUXT_PUBLIC_ENVIRONMENT = "production"

[[env.production.d1_databases]]
binding = "DB"
database_name = "dom-prod"
database_id = "5c1aab4d-72d5-4919-a800-274f6e11ed26"
