@import "tailwindcss";

@plugin "daisyui" {
  themes: "all";
}

@plugin "daisyui/theme" {
  name: "kekdark";
  default: false;
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: #2c2d30;
  --color-base-200: #3a3d40;
  --color-base-300: #494c50;
  --color-base-content: #fff;
  --color-primary: #3592C4;
  --color-primary-content: #fff;
  --color-secondary: #ab44ff;
  --color-secondary-content: #f8f3fd;
  --color-accent: #00ba7b;
  --color-accent-content: #e9faf2;
  --color-neutral: #494c50;
  --color-neutral-content: #f8f8f8;
  --color-info: #3592C4;
  --color-info-content: #fff;
  --color-success: #A9DC76;
  --color-success-content: #234700;
  --color-warning: #FFD866;
  --color-warning-content: #4d3c00;
  --color-error: #FF6661;
  --color-error-content: #ffffff;
  --radius-selector: 0.45rem;
  --radius-field: 0.55rem;
  --radius-box: 1.5rem;
  --size-selector: 0.3rem;
  --size-field: 0.24rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "keklight";
  default: false;
  preferslight: true;
  color-scheme: light;
  --color-base-100: #fffaed;
  --color-base-200: #fff1d8;
  --color-base-300: #ffe9c2;
  --color-base-content: #5e4a29;
  --color-primary: #2e96ce;
  --color-primary-content: #fff;
  --color-secondary: #ab44ff;
  --color-secondary-content: #f8f3fd;
  --color-accent: #00ba7b;
  --color-accent-content: #e9faf2;
  --color-neutral: #433f3a;
  --color-neutral-content: #f8f8f8;
  --color-info: #2e96ce;
  --color-info-content: #ffffff;
  --color-success: #58ae00;
  --color-success-content: #ffffff;
  --color-warning: #ffb200;
  --color-warning-content: #ffffff;
  --color-error: #ff4943;
  --color-error-content: #ffffff;
  --radius-selector: 0.45rem;
  --radius-field: 0.55rem;
  --radius-box: 1.5rem;
  --size-selector: 0.3rem;
  --size-field: 0.24rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}

/*@plugin "daisyui/theme" {*/
/*  name: "kekdark";*/
/*  default: false;*/
/*  prefersdark: true;*/
/*  color-scheme: dark;*/
/*  --color-base-100: hsl(216, 5%, 18%);*/
/*  --color-base-200: hsl(216, 5%, 24%);*/
/*  --color-base-300: hsl(216, 5%, 30%);*/
/*  --color-base-content: #fff;*/
/*  --color-primary: hsl(205, 100%, 57%);*/
/*  --color-primary-content: #fff;*/
/*  --color-secondary: oklch(62% 0.265 303.9);*/
/*  --color-secondary-content: oklch(97% 0.014 308.299);*/
/*  --color-accent: oklch(69% 0.17 162.48);*/
/*  --color-accent-content: oklch(97% 0.021 166.113);*/
/*  --color-neutral: oklch(37% 0.01 67.558);*/
/*  --color-neutral-content: oklch(98% 0.001 106.423);*/
/*  --color-info: oklch(0.7 0.17 246.26);*/
/*  --color-info-content: oklch(1 0 89.876);*/
/*  --color-success: #39d339;*/
/*  --color-success-content: oklch(0.446 0.192 341.883);*/
/*  --color-warning: hsl(47 100% 54% / 1);*/
/*  --color-warning-content: hsl(171, 100%, 21%);*/
/*  --color-error: oklch(0.7 0.24 25.76);*/
/*  --color-error-content: oklch(0.94 0.14 99.9);*/
/*  --radius-selector: 1rem;*/
/*  --radius-field: 1rem;*/
/*  --radius-box: 2rem;*/
/*  --size-selector: 0.25rem;*/
/*  --size-field: 0.25rem;*/
/*  --border: 1px;*/
/*  --depth: 1;*/
/*  --noise: 1;*/
/*}*/

/* Prevent modal layout shifts on open/close */
html {
  scrollbar-gutter: stable;
}

/* Override DaisyUI styles to prevent modal layout shifts on open/close */
:where(.modal[open], .modal-open, .modal-toggle:checked + .modal):not(.modal-start, .modal-end) {
  scrollbar-gutter: auto;
}
