@plugin "daisyui" {
  themes: ["crystalclear", "kekdark", "kekdarker", "grayscale", "grayscaledark", "keklight", "keklighter", "summerhaze", "ritualhabitual"];
}

@plugin "daisyui/theme" {
  name: "kekdarker";
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: #222427;
  --color-base-200: #282b2f;
  --color-base-300: #3b3e42;
  --color-base-content: #fff;
  --color-primary: #3592C4;
  --color-primary-content: #fff;
  --color-secondary: #a9ebff;
  --color-secondary-content: #f8f3fd;
  --color-accent: #00ba7b;
  --color-accent-content: #e9faf2;
  --color-neutral: #32363b;
  --color-neutral-content: #f8f8f8;
  --color-info: #3592C4;
  --color-info-content: #fff;
  --color-success: #A9DC76;
  --color-success-content: #234700;
  --color-warning: #FFD866;
  --color-warning-content: #4d3c00;
  --color-error: #FF6661;
  --color-error-content: #fff;
  --radius-selector: 0.45rem;
  --radius-field: 0.55rem;
  --radius-box: 1.5rem;
  --size-selector: 0.3rem;
  --size-field: 0.24rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
  --logo-contours: var(--color-base-100);
  --logo-face: var(--color-base-content);
  --logo-cheeks: var(--color-error);
  --logo-roof: var(--color-error);
  --logo-pipe: var(--color-success);
}

@plugin "daisyui/theme" {
  name: "keklighter";
  default: true;
  color-scheme: light;
  --color-base-100: #fff;
  --color-base-200: #fff9ee;
  --color-base-300: #ffe9c8;
  --color-base-content: #5e4a29;
  --color-primary: #2e96ce;
  --color-primary-content: #fff;
  --color-secondary: #c0e18f;
  --color-secondary-content: #f8f3fd;
  --color-accent: #00ba7b;
  --color-accent-content: #e9faf2;
  --color-neutral: #aca69b;
  --color-neutral-content: #f8f8f8;
  --color-info: #2e96ce;
  --color-info-content: #fff;
  --color-success: #58ae00;
  --color-success-content: #fff;
  --color-warning: #ffb200;
  --color-warning-content: #fff;
  --color-error: #ff4943;
  --color-error-content: #fff;
  --radius-selector: 0.45rem;
  --radius-field: 0.55rem;
  --radius-box: 1.5rem;
  --size-selector: 0.3rem;
  --size-field: 0.24rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
  --logo-contours: var(--color-base-content);
  --logo-face: var(--color-base-100);
  --logo-cheeks: var(--color-error);
  --logo-roof: var(--color-primary);
  --logo-pipe: var(--color-warning);
}

@plugin "daisyui/theme" {
  name: "kekdark";
  color-scheme: dark;
  --color-base-100: #2c2d30;
  --color-base-200: #3a3d40;
  --color-base-300: #494c50;
  --color-base-content: #fff;
  --color-primary: #3592C4;
  --color-primary-content: #fff;
  --color-secondary: #a9ebff;
  --color-secondary-content: #f8f3fd;
  --color-accent: #00ba7b;
  --color-accent-content: #e9faf2;
  --color-neutral: #494c50;
  --color-neutral-content: #f8f8f8;
  --color-info: #3592C4;
  --color-info-content: #fff;
  --color-success: #A9DC76;
  --color-success-content: #234700;
  --color-warning: #FFD866;
  --color-warning-content: #4d3c00;
  --color-error: #FF6661;
  --color-error-content: #fff;
  --radius-selector: 0.45rem;
  --radius-field: 0.55rem;
  --radius-box: 1.5rem;
  --size-selector: 0.3rem;
  --size-field: 0.24rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
  --logo-contours: var(--color-base-100);
  --logo-face: var(--color-base-content);
  --logo-cheeks: var(--color-error);
  --logo-roof: var(--color-error);
  --logo-pipe: var(--color-success);
}

@plugin "daisyui/theme" {
  name: "keklight";
  color-scheme: light;
  --color-base-100: #fffcf4;
  --color-base-200: #fff3dd;
  --color-base-300: #ffdc9d;
  --color-base-content: #5e4a29;
  --color-primary: #2e96ce;
  --color-primary-content: #fff;
  --color-secondary: #c0e18f;
  --color-secondary-content: #f8f3fd;
  --color-accent: #00ba7b;
  --color-accent-content: #e9faf2;
  --color-neutral: #a8a195;
  --color-neutral-content: #f8f8f8;
  --color-info: #2e96ce;
  --color-info-content: #fff;
  --color-success: #58ae00;
  --color-success-content: #fff;
  --color-warning: #ffb200;
  --color-warning-content: #fff;
  --color-error: #ff4943;
  --color-error-content: #fff;
  --radius-selector: 0.45rem;
  --radius-field: 0.55rem;
  --radius-box: 1.5rem;
  --size-selector: 0.3rem;
  --size-field: 0.24rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
  --logo-contours: var(--color-base-content);
  --logo-face: var(--color-base-100);
  --logo-cheeks: var(--color-error);
  --logo-roof: var(--color-primary);
  --logo-pipe: var(--color-warning);
}

@plugin "daisyui/theme" {
  name: "summerhaze";
  color-scheme: light;
  --color-base-100: #fffafb;
  --color-base-200: #ffe0e4;
  --color-base-300: #fda4af;
  --color-base-content: #2859cb;
  --color-primary: #ff5f8a;
  --color-primary-content: #fff;
  --color-secondary: #8aa7e9;
  --color-secondary-content: #fff;
  --color-accent: #06b6d4;
  --color-accent-content: #fff;
  --color-neutral: #fda4af;
  --color-neutral-content: #fff;
  --color-info: #06b6d4;
  --color-info-content: #fff;
  --color-success: #10b981;
  --color-success-content: #fff;
  --color-warning: #f59e0b;
  --color-warning-content: #fff;
  --color-error: #ef4444;
  --color-error-content: #fff;
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1.5rem;
  --size-selector: 0.3rem;
  --size-field: 0.24rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
  --logo-contours: var(--color-base-content);
  --logo-face: var(--color-base-100);
  --logo-cheeks: var(--color-primary);
  --logo-roof: var(--color-base-300);
  --logo-pipe: var(--color-base-100);
}

@plugin "daisyui/theme" {
  name: "ritualhabitual";
  color-scheme: dark;
  --color-base-100: #1e1515;
  --color-base-200: #271c1c;
  --color-base-300: #493530;
  --color-base-content: #ffede0;
  --color-primary: #d3765a;
  --color-primary-content: #3e180e;
  --color-secondary: #165f31;
  --color-secondary-content: #fff;
  --color-accent: #facc15;
  --color-accent-content: #1a1a1a;
  --color-neutral: #493530;
  --color-neutral-content: #ffe0a9;
  --color-info: #f97316;
  --color-info-content: #fff;
  --color-success: #15803d;
  --color-success-content: #fff;
  --color-warning: #eab308;
  --color-warning-content: #1a1a1a;
  --color-error: #b91c1c;
  --color-error-content: #fff;
  --radius-selector: 0.3rem;
  --radius-field: 0.3rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.22rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
  --logo-contours: var(--color-base-100);
  --logo-face: var(--color-base-content);
  --logo-cheeks: var(--color-primary);
  --logo-roof: var(--color-primary);
  --logo-pipe: var(--color-warning);
}

@plugin "daisyui/theme" {
  name: "crystalclear";
  color-scheme: light;
  --color-base-100: #fff;
  --color-base-200: #fff;
  --color-base-300: #ededed;
  --color-base-content: #1e293b;
  --color-primary: #3b82f6;
  --color-primary-content: #fff;
  --color-secondary: #facaff;
  --color-secondary-content: #fff;
  --color-accent: #95e1ff;
  --color-accent-content: #fff;
  --color-neutral: #878787;
  --color-neutral-content: #fff;
  --color-info: #3b82f6;
  --color-info-content: #fff;
  --color-success: #10b981;
  --color-success-content: #fff;
  --color-warning: #f59e0b;
  --color-warning-content: #fff;
  --color-error: #ef4444;
  --color-error-content: #fff;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --logo-contours: var(--color-base-content);
  --logo-face: var(--color-base-100);
  --logo-cheeks: var(--color-error);
  --logo-roof: var(--color-accent);
  --logo-pipe: var(--color-base-100);
}

@plugin "daisyui/theme" {
  name: "grayscale";
  color-scheme: light;
  --color-base-100: #fff;
  --color-base-200: #fafafa;
  --color-base-300: #e5e5e5;
  --color-base-content: #333;
  --color-primary: #666;
  --color-primary-content: #fff;
  --color-secondary: #ddd;
  --color-secondary-content: #fff;
  --color-accent: #808080;
  --color-accent-content: #fff;
  --color-neutral: #a1a1a1;
  --color-neutral-content: #fff;
  --color-info: #666;
  --color-info-content: #fff;
  --color-success: #666;
  --color-success-content: #fff;
  --color-warning: #666;
  --color-warning-content: #fff;
  --color-error: #666;
  --color-error-content: #fff;
  --radius-selector: 0.2rem;
  --radius-field: 0.1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
  --logo-contours: var(--color-base-content);
  --logo-face: var(--color-base-100);
  --logo-cheeks: var(--color-neutral);
  --logo-roof: var(--color-neutral);
  --logo-pipe: var(--color-base-300);
}

@plugin "daisyui/theme" {
  name: "grayscaledark";
  color-scheme: dark;
  --color-base-100: #1a1a1a;
  --color-base-200: #262626;
  --color-base-300: #404040;
  --color-base-content: #e5e5e5;
  --color-primary: #dcdcdc;
  --color-primary-content: #1a1a1a;
  --color-secondary: #555;
  --color-secondary-content: #fff;
  --color-accent: #606060;
  --color-accent-content: #fff;
  --color-neutral: #525252;
  --color-neutral-content: #e5e5e5;
  --color-info: #c0c0c0;
  --color-info-content: #1a1a1a;
  --color-success: #c0c0c0;
  --color-success-content: #1a1a1a;
  --color-warning: #c0c0c0;
  --color-warning-content: #1a1a1a;
  --color-error: #c0c0c0;
  --color-error-content: #1a1a1a;
  --radius-selector: 0.2rem;
  --radius-field: 0.1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
  --logo-contours: var(--color-base-100);
  --logo-face: var(--color-base-content);
  --logo-cheeks: var(--color-success);
  --logo-roof: var(--color-success);
  --logo-pipe: var(--color-success);
}
